<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Picks" %>

  <% @picks.each do |pick| %>
    <%= pick.user.name %> <%= pick.game.notes %>
  <% end %>

  <div class="inline">
    <%= button_to "Edit Picks", user_picks_edit_path(@user), method: :get, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
</div>
