<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="games" class="container flex flex-wrap items-top max-w-auto place-content-center overflow-auto">
    <% @games.each do |game| %>
      <%= link_to game do %>
        <%= render GameCardComponent.new(
          game: game,
          extra_classes: "border-4 rounded border-neutral-400 m-4"
        ) %>
      <% end %>
    <% end %>
  </div>
</div>
